title: "My Tech Blog"
description: "Insights on engineering practices and management."
url: "https://<USERNAME>.github.io"
baseurl: "/<REPOSITORY>"
theme: jekyll-theme-primer # Optional: using a default theme to start, can be changed later
plugins:
  - jekyll-feed
  - jekyll-seo-tag
exclude:
  - node_modules
  - vendor
  - Gemfile
  - Gemfile.lock
